<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LAb1dbSem1_.Properties.Settings.Lab1Sem2ConnectionString"
            connectionString="Data Source=DESKTOP-AU9PCCE\MSSQLSERVER01;Initial Catalog=Lab1Sem2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>